.podcast-player{
  width: 65%;
  place-self: flex-start;
  align-items: center;
  &_inner{
    width: 95%;
  }
  h1,p{
    text-align: justify;
  }
  h1{
    font-size: 2em;
    margin: 0.33em 0;
  }
  p{
    font-style: italic;
  }
  audio{
    width: 100%;
  }
}