.podcast-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .list-item{
    width: 20%;
    transform: scale(1);
    transition: all .2s ease-in-out;
    &:hover{
      transform: scale(1.05);
      z-index: 10;
    }
    .link-details{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img{
        max-width: 170px;
        border-radius: 50%;
      }
      h2{
        font-size: 1.25em;
      }
      h3{
        font-size: 1em;
      }
    }
  }
}