.filter-bar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .count{
    min-width: 27px;
    margin-right: 1em;
    background-color: rgb(95, 95, 255);
    padding: 0.2em;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
  }
  input{
    padding: 0.25em;
  }
}