.details-body_container{
  width: 65%;
  margin-bottom: 2em;
  &.loading{
    display: flex;
    align-items: center;
    justify-content: center;

    .pulsating-circle{
      transform: translateX(0%) translateY(0%);
      margin: 0;
      width: 50px;
      height: 50px;
      margin: 15em;
      &::before,&::after{
        border-radius: 50%;
      }
    }
  }
}