.episodes-list_container{
  padding: 2em;
  .episodes-list{
    width: 100%;
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
    td,th{
      padding: 0.5em;
      border: 1px solid black;
    }
  }
}