.podcast-summary{
  width: 25%;
  place-self: flex-start;
  img{
    width: 90%;
    border-radius: 1em;
  }
  h2{
    color: rgb(85, 85, 85);
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
  }
  p{
    width: 90%;
    font-style: italic;
    text-align: justify;
  }
}