.card {
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  background-color: #f1f1f1;
  text-align: center;
  border-radius: 1em;
  box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 20%);

  h1,h2{
    color: black;
    font-size: 1.25em;
  }
  h3,p{
    font-weight: normal;
    color: rgb(85, 85, 85);
  }
}